Language: Cpp

AccessModifierOffset: -2
AlignAfterOpenBracket: true
AlignArrayOfStructures: Left
AlignOperands: Align
AlignTrailingComments: Always
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: true
BreakTemplateDeclarations: Yes
ColumnLimit: 100
ContinuationIndentWidth: 4
EmptyLineAfterAccessModifier: Never
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeCategories:
    - Regex: '<.*>'
      Priority: 2
    - Regex: '".*"'
      Priority: 3
    - Regex: '.*'
      Priority: 1
      SortPriority: 0
IndentWidth: 4
InsertNewilneAtEOF: true
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
PackConstructorInitializers: CurrentLine
PointerAlignment: Right
ReferenceAlignment: Right
SeparateDefinitionBlocks: Always
ShortNamespaceLines: 0
TabWidth: 4
UseTab: Never
